.button {
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px;
  transition: 0.5s ease;
  width: 100%;

  &:hover {
    box-shadow: 0px 1px 10px 2px $secondary-purple;
    transition: 0.25s ease;
  }
}

.action {
  background-color: $mint;
  border: 1px solid $mint;
  color: $primary-purple;
}
