.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 2px #4F517D;
  max-height: 300px;
  overflow: scroll;
  padding: 24px;
  width: 100%;
}

.repo {
  font-size: 16px;
  color: #8A4FFF;
  margin: 6px 0;
}

